<sly data-sly-include="/apps/medtronic-com/components/pages/base-page/head.html" data-sly-use.basePage="/apps/medtronic-com/components/pages/base-page/base-page.js"/>
<!--/*
Adding in hreflang entries
*/-->
<link data-sly-test="${basePage.locale != 'de_DE'}" rel="alternate" href="http://www.medtronic.com/de-de/index.html" hreflang="de-de"/>
<link data-sly-test="${basePage.locale != 'en_AU'}" rel="alternate" href="http://www.medtronic.com/au-en/index.html" hreflang="en-au"/>
<link data-sly-test="${basePage.locale != 'en_CA'}" rel="alternate" href="http://www.medtronic.com/ca-en/index.html" hreflang="en-ca"/>
<link data-sly-test="${basePage.locale != 'en_GB'}" rel="alternate" href="http://www.medtronic.com/uk-en/index.html" hreflang="en-gb"/>
<link data-sly-test="${basePage.locale != 'en_IE'}" rel="alternate" href="http://www.medtronic.com/ir-en/index.html" hreflang="en-ie"/>
<link data-sly-test="${basePage.locale != 'en_IN'}" rel="alternate" href="http://www.medtronic.com/in-en/index.html" hreflang="en-in"/>
<link data-sly-test="${basePage.locale != 'en_US'}" rel="alternate" href="http://www.medtronic.com/us-en/index.html" hreflang="en-us"/>
<link data-sly-test="${basePage.locale != 'es'}"    rel="alternate" href="http://www.medtronic.com/la-es/index.html" hreflang="es"/>
<link data-sly-test="${basePage.locale != 'es_ES'}" rel="alternate" href="http://www.medtronic.com/es-es/index.html" hreflang="es-es"/>
<link data-sly-test="${basePage.locale != 'fr_CA'}" rel="alternate" href="http://www.medtronic.com/ca-fr/index.html" hreflang="fr-ca"/>
<link data-sly-test="${basePage.locale != 'fr_FR'}" rel="alternate" href="http://www.medtronic.com/fr-fr/index.html" hreflang="fr-fr"/>
<link data-sly-test="${basePage.locale != 'it_IT'}" rel="alternate" href="http://www.medtronic.com/it-it/index.html" hreflang="it-it"/>
<link data-sly-test="${basePage.locale != 'ja_JP'}" rel="alternate" href="http://www.medtronic.com/jp-jp/index.html" hreflang="ja-jp"/>
<link data-sly-test="${basePage.locale != 'zh_CN'}" rel="alternate" href="http://www.medtronic.com/cn-zh/index.html" hreflang="zh-cn"/>
