<div class="addthis_toolbox">
	<ul class="unstyled">
		<li>
			<a class="addthis_button_print icon-fallback-text" href="#">
				<i class="icon shape-mdt-print" aria-hidden="true"></i>
				<span class="text">Print</span>
			</a>
		</li>
		<li>
			<a class="addthis_button_email icon-fallback-text" href="#">
				<i class="icon shape-mdt-email" aria-hidden="true"></i>
				<span class="text">Email</span>
			</a>
		</li>
		<li data-sly-test="${inheritedPageProperties.showFacebook == 'true'}">
			<a class="addthis_button_facebook icon-fallback-text" target="_blank" href="#">
				<i class="icon shape-mdt-facebook" aria-hidden="true"></i>
				<span class="text">Facebook</span>
			</a>
		</li>
		<li data-sly-test="${inheritedPageProperties.showTwitter == 'true'}">
			<a class="addthis_button_twitter icon-fallback-text" target="_blank" href="#">
				<i class="icon shape-mdt-twitter" aria-hidden="true"></i>
				<span class="text">Twitter</span>
			</a>
		</li>
		<li data-sly-test="${inheritedPageProperties.showLinkedin == 'true'}">
			<a class="addthis_button_linkedin icon-fallback-text" target="_blank" href="#">
				<i class="icon shape-mdt-linkedin" aria-hidden="true"></i>
				<span class="text">LinkedIn</span>
			</a>
		</li>
	</ul>
</div>